body {
  margin: 0;
  box-sizing: border-box;
  background: #111;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.App {
  max-width: 800px;
  background: #85e6c5;
  height: 100vh;
}
